###
# enables the Flowception module in your test suites
#
modules:
    enabled:
        - Codeception\Module\Flowception
    config:
        Codeception\Module\Flowception:
            rootPath: '.'
            context: 'Testing'